body {
    margin: 0;
    padding:300px;
    margin-left: 250px;
}
.button
{
    margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 22px;
    
}

.bord
{
    border: 2px solid rgb(73, 179, 221);
    font-weight: 150;
    opacity: 0.5;
    border-radius: 20px;
    background-color: rgb(73, 179, 221);
}
.bord1
{
    border: 2px solid rgb(255, 0, 0);
    font-weight: 150;
    opacity: 0.5;
    border-radius: 20px;
    background-color: rgb(250, 0, 0);
}
.bord2
{
    border: 2px solid rgb(0, 255, 0);
    font-weight: 150;
    opacity: 0.5;
    border-radius: 20px;
    background-color: rgb(0, 255, 0);
}
.bord3
{
    border: 2px solid rgb(240, 240, 240);
    font-weight: 150;
    opacity: 0.5;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}
.textview
{
    background-color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 240px;
    height: 50px;
}

